@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700;900&display=swap');

html, body {
   margin: 0;
   padding: 0;
}

body {
   overflow: hidden;
}

:root {
   --item-slot-size: 5rem;
   --item-image-size: 3.75rem;
}

#canvas-wrapper > canvas {
   position: absolute;
   pointer-events: none;
}

#game-interactable-layer {
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   -webkit-user-drag: none;
   -webkit-user-select: none;
   user-select: none;
}

#summon-entity-veil {
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   box-shadow: 0 0 80px 10px rgba(0, 0, 0, 0.7) inset;
   z-index: 1;
   cursor: pointer;
}

#text-canvas {
   pointer-events: none;
}

.game-message {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}
.game-message p {
   text-align: center;
}
.game-message button {
   margin-left: 50%;
   transform: translateX(-50%);
}

.hidden {
   opacity: 0 !important;
   pointer-events: none !important;
}

/* Held item */

#held-item {
   width: var(--item-slot-size);
   height: var(--item-slot-size);
   position: absolute;
   pointer-events: none;
   z-index: 3;
   user-select: none;
}
#held-item img {
   width: var(--item-image-size);
   height: var(--item-image-size);
   image-rendering: pixelated;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 1;
}
/* NOTE: The held item count style is defined in inventory.css file. */

#summon-prompt {
   position: absolute;
   top: 3rem;
   left: 50%;
   transform: translate(-50%) scale(var(--zoom));
   z-index: 2;
   display: flex;
   align-items: center;
}
#summon-prompt h2 {
   font-size: 1.7rem;
   font-family: "Inconsolata";
   color: #fff;
   text-shadow: 3px 3px 0 #000;
   margin: 0 0.5rem;
   white-space: pre;
}
#summon-prompt .line {
   width: 7rem;
   height: 3px;
}
#summon-prompt .line.left {
   background-image: linear-gradient(to right, transparent 0%, #fff 60%);
}
#summon-prompt .line.right {
   background-image: linear-gradient(to left, transparent 0%, #fff 60%);
}

#summon-crosshair {
   position: absolute;
   transform: translate(-50%, -50%) scale(var(--zoom));
   z-index: 2;
   user-select: none;
   pointer-events: none;
}

#summon-crosshair img {
   width: 32px;
   height: 32px;
   image-rendering: pixelated;
}

.simulation-pause-label {
   font-size: 2rem;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   color: red;
   position: absolute;
   left: 50%;
   top: 25%;
   transform: translate(-50%, -50%);
   z-index: 2;
   white-space: pre;
   text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.75);
   letter-spacing: 0.05rem;
   pointer-events: none;
}