/* Generic inventory interfaces */

.menu, .sub-menu {
   font-family: "Noto Sans";
}

.menu {
   background-color: #3a3a3a;
   border: 5px solid black;
   padding: 0 0.25rem 0.25rem;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%) scale(var(--zoom));
   z-index: 2;
   box-shadow: -4px -4px 0 0 #303030 inset, 4px 4px 0 0 #444 inset;
}

.menu button {
   outline: none;
}

.menu .area-row {
   display: flex;
   justify-content: space-between;
   /* align-items: center; */
}

.menu .area {
   background-color: #666;
   margin: 0.5rem 0;
   padding: 0.2rem;
   box-shadow: -4px -4px 0 0 #555 inset;
}
.menu .area:last-child {
   margin-bottom: 0;
}

.menu h1 {
   color: #ddd;
   font-size: 1.5rem;
   margin: 0 0 1rem 0;
   text-align: center;
}

.menu h2 {
   color: #ddd;
   font-size: 1.1rem;
   margin: 0;
}
.menu h2.menu-title {
   text-align: center;
}

:is(.menu .area, .sub-menu) :is(h3, p, label) {
   color: #fff;
   margin: 0;
}

.sub-menu p.center {
   text-align: center;
}

.sub-menu h4 {
   color: #ddd;
   margin: 0;
}

.flex-container {
   display: flex;
}
.flex-container.inline {
   display: inline-flex;
}
.flex-container.space-between {
   justify-content: space-between;
}
.flex-container.space-around {
   justify-content: space-around;
}
.flex-container.center {
   justify-content: center;
}
.flex-container.column {
   flex-direction: column;
}
.menu .flex-container:not(:first-child) {
   margin-top: 0.3rem;
}

.inventory-container {
   background-color: #666;
   display: inline-block;
}

.inventory-container.bordered {
   border: 5px solid #000;
}

.inventory {
   background-color: #444;
   border: 5px solid black;
}

.inventory-row {
   display: flex;
}

.item-slot {
   width: var(--item-slot-size);
   height: var(--item-slot-size);
   background-image: url("../../../images/miscellaneous/item-slot.png");
   background-size: 100%;
   image-rendering: pixelated;
   position: relative;
   user-select: none;
}

.item-slot.selected {
   /* @Temporary */
   background-image: url("../../../images/miscellaneous/item-slot-selected.png");
}
.item-slot:not(.empty)::after {
   content: "";
   position: absolute;
   top: 0;
   right: 0; 
   bottom: 0;
   left: 0;
   z-index: 0;
}

.item-slot img {
   image-rendering: pixelated;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%) scale(3.75);
   z-index: 1;
}

.item-slot .item-count, #held-item .held-item-count {
   color: #fff;
   font-family: "Inconsolata";
   font-size: 1.5rem;
   font-weight: bold;
   text-shadow: 0 0 1px #000, 0 0 2px #000, 0 0 3px #000, 0 0 4px #000;
   text-align: right;
   position: absolute;
   right: 25%;
   bottom: 25%;
   transform: translate(50%, 50%);
   z-index: 2;
}
.item-slot .cooldown-bg {
   width: 100%;
   height: calc(var(--item-slot-size) * var(--cooldown));
   background-color: rgba(0, 0, 0, 0.5);
   position: absolute;
   bottom: 0;
   right: 0;
   left: 0;
}

.sub-menu {
   background-color: #333;
   border: 3px solid #222;
   padding: 0.2rem;
}

.sub-menu ul {
   margin: 0;
   padding: 0 0 0 1.5rem;
}

.sub-menu h2 + p {
   margin-top: 0.5rem;
}

.sub-menu button {
   font-family: "Noto Sans";
   font-weight: bold;
   font-size: 1rem;
   color: #bebebe;
   background-color: #666;
   border: 4px solid #000;
   padding: 3px 6px;
   margin-right: 0.5rem;
   outline: none;
   cursor: pointer;
}
.sub-menu button:hover {
   color: #ccc;
   background-color: #777;
}
.sub-menu button:active {
   color: #aaa;
   background-color: #606060;
}

.sub-menu li {
   color: #ccc;
}

.sub-menu .bar {
   width: 80%;
   height: 0.2rem;
   background-color: #777;
   margin: 0.3rem 0 0.5rem 50%;
   transform: translateX(-50%);
}

