@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700;900&display=swap');

#nerd-vision-wrapper {
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   pointer-events: none;
}

#nerd-vision-wrapper * {
   pointer-events: all;
}

.devmode-tab {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%) scale(var(--zoom));
   z-index: 2;
   max-height: 60%;
}

.devmode-container {
   background-color: rgba(0.3, 0.3, 0.3, 0.6);
   padding: 0.1rem;
   border: 2px solid #666;
}

.devmode-container * {
   font-family: "Inconsolata";
}

.devmode-menu-section {
   background-color: #000;
   margin: 0.2rem;
   border: 1px solid #999;
}
.devmode-menu-section h3 {
   color: #fff;
   text-align: center;
   margin: 0.2rem 0;
}

.devmode-menu-section h2.devmode-menu-section-title {
   color: #fff;
   text-align: center;
   margin: 0.2rem 0;
}

.devmode-container .devmode-input {
   margin: 0.2rem;
}

.devmode-container :is(.devmode-input, p) {
   color: #ccc;
}

.devmode-container label {
   cursor: pointer;
}
.devmode-container label input {
   outline: none;
}
.devmode-container span.weighted {
   color: #fff;
   font-weight: bold;
}

.devmode-container label.range-input-label {
   display: flex;
   align-items: center;
}
.devmode-container :is(label.range-input-label input, .devmode-input select) {
   margin: 0 0 0 10px;
}

.devmode-container button {
   cursor: pointer;
}

.devmode-card {
   border: 2px solid #666;
}
.devmode-card p {
   margin: 0;
}
.devmode-card button {
   float: right;
}

#tab-selection {
   position: absolute;
   top: 0;
   left: 50%;
   transform: translateX(-50%);
   z-index: 2;
   display: flex;
}

.tab-selector {
   border-top: none;
   cursor: pointer;
}

.tab-selector img {
   width: 32px;
   height: 32px;
   image-rendering: pixelated;
   margin-left: 50%;
   transform: translateX(-50%);
}
.tab-selector img:hover {
   animation: Spinninator9000 1s infinite linear;
}

@keyframes Spinninator9000 {
   0% {
      transform: translateX(-50%) rotate(0deg);
   }
   100% {
      transform: translateX(-50%) rotate(360deg);
   }
}

.tab-selector span {
   color: #ccc;
   text-align: center;
   font-size: 1rem;
   display: block;
}
.tab-selector.selected span {
   color: #fff;
}

/* Devmode Scrollable Options */

.devmode-scrollable-options ul {
   margin: 0;
   padding: 0;
   overflow-y: scroll;
   max-height: 40rem;
}

.devmode-scrollable-options .option {
   min-width: 5rem;
   color: #ccc;
   list-style-type: none;
   padding: 0.3rem 0;
   cursor: pointer;
   white-space: pre;
   position: relative;
}
.devmode-scrollable-options .option span.text {
   margin-left: 0.5rem;
}
.devmode-scrollable-options .option.selected {
   color: #fff;
   background-image: linear-gradient(to right, transparent 0%, #3a3a3a 25%, #3a3a3a 75%, transparent 100%);
}
.devmode-scrollable-options .option .selection-marker {
   width: 10px;
   height: 10px;
   background-image: radial-gradient(#fff 0%, #888 100%);
   border-radius: 100%;
   position: absolute;
   top: 50%;
   left: 0;
   transform: translate(-50%, -50%);
}

.devmode-scrollable-options div.separator {
   width: 90%;
   height: 1px;
   background-color: #aaa;
   margin-left: 5%;
}
.devmode-scrollable-options div.separator.bright {
   background-color: #fff;
}

/* ---------------------- */
/*       ITEMS TAB        */
/* ---------------------- */

#items-catalogue {
   overflow-y: scroll;
}

/* ---------------------- */
/*      SUMMON TAB        */
/* ---------------------- */

#summon-tab div.spawn-options {
   min-width: 400px;
}

#summon-tab .bar {
   width: 90%;
   height: 2px;
   background-color: #aaa;
   margin-left: 5%;
   margin-bottom: 0.5rem;
}

#summon-tab button {
   margin-top: 1rem;
   margin-left: 50%;
   transform: translateX(-50%);
}

#summon-tab p {
   margin-bottom: 0;
}

/* ---------------------- */
/*      TITLES TAB        */
/* ---------------------- */

#titles-tab .titles-list {
   width: 8rem;
   display: flex;
   flex-direction: column;
}
#titles-tab .titles-list > div {
   display: flex;
   justify-content: center;
}
#titles-tab .titles-list button {
   display: flex;
   justify-content: center;
}

/* ---------------------- */
/*      TRIBES TAB        */
/* ---------------------- */

#tribes-tab div.spawn-options {
   min-width: 400px;
}