#animal-staff-options {
   border: 4px solid #222;
   background-color: rgba(0, 0, 0, 0.5);
   position: absolute;
   z-index: 2;
   display: flex;
   transform: translate(-50%, -2rem) scale(var(--zoom));
}

#animal-staff-options .option {
   width: 68px;
   height: 68px;
   image-rendering: pixelated;
   background-size: 100% 100%;
   cursor: pointer;
   filter: grayscale(0.7) brightness(0.8);
}
#animal-staff-options .option:hover {
   filter: grayscale(0.7) brightness(1);
}
#animal-staff-options .option.active {
   filter: none;
}
#animal-staff-options .option.active:hover {
   filter: brightness(1.2);
}

#animal-staff-options .follow {
   background-image: url(../../images/menus/animal-staff-options/follow.png);
   margin-right: 20px;
}
#animal-staff-options .carry {
   background-image: url(../../images/menus/animal-staff-options/carry.png);
   margin-right: 20px;
}
#animal-staff-options .attack {
   background-image: url(../../images/menus/animal-staff-options/attack.png);
}