#chat-box {
   --message-height: 1.3rem;
   min-width: 25rem;
   max-width: 35rem;
   position: absolute;
   left: 1rem;
   bottom: calc(10rem * var(--zoom));
   z-index: 1;
}
#chat-box.idle .message-history {
   animation: Disappear 5s forwards;
}
#chat-box :is(.chat-message, .message-preview) {
   width: 100%;
   color: #fff;
   text-shadow: 2px 2px #000;
   font-family: "Noto Sans";
   font-size: 1.15rem;
   min-height: var(--message-height);
   margin: 5px;
   padding-left: 4px;
   overflow: hidden;
   word-wrap: break-word;
}
#chat-box .chat-message {
   background-color: rgba(0, 0, 0, 0.6);
}
#chat-box .message-preview {
   border: none;
   outline: none;
   /* background-color: rgba(0, 0, 0, 0.4); */
   opacity: 0;
}
#chat-box .message-preview.active {
   background-color: rgba(0, 0, 0, 0.6);
   opacity: 1;
}

@keyframes Disappear {
   0% {
      opacity: 1;
      visibility: visible;
   }
   90% {
      opacity: 1;
      visibility: visible;
   }
   100% {
      opacity: 0;
      visibility: hidden;
   }
}