@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

#taming-menu {
   /* @Hack */
   width: 40rem;
   height: 40rem;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

#taming-menu h1 {
   color: #fff;
}
#taming-menu h1 img {
   width: 48px;
   height: 28px;
   image-rendering: pixelated;
}

#taming-menu .taming-tier {
   font-family: "Noto Sans";
   color: #fff;
   margin-left: 1rem;
}
#taming-menu .taming-tier img {
   width: 28px;
   height: 28px;
   image-rendering: pixelated;
   margin-right: 5px;
}

#taming-menu .progress-area {
   margin: 1rem 0 2rem 0;
}

#taming-menu .progress-area .row {
   width: 70%;
   display: flex;
   margin-left: 15%;
}

#taming-menu .berry-progress-bar {
   width: 100%;
   border: 4px solid #222;
   padding: 0.3rem 2.5rem;
   position: relative;
}

#taming-menu .berry-progress-bar-bg {
   background-color: #555;
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   box-shadow: 0 0 0 4px #777 inset;
   z-index: -1;
}

#taming-menu .berry-progress-bar .progress-counter {
   font-family: "Noto Sans";
   font-size: 1rem;
   color: #fff;
   margin-left: 50%;
   transform: translateX(-50%);
   z-index: 2;
   white-space: pre;
   display: flex;
   align-items: center;
}
#taming-menu .berry-progress-bar .progress-counter img {
   width: 32px;
   height: 32px;
   image-rendering: pixelated;
}

#taming-menu .berry-progress-bar::after {
   content: "Progress to next tier";
   color: #eee;
   font-family: "Noto Sans";
   font-weight: bold;
   letter-spacing: 0.6px;
   text-align: center;
   position: absolute;
   top: -1.7rem;
   left: 50%;
   white-space: pre;
   transform: translateX(-50%);
}

#taming-menu .progress-area button {
   font-family: "Noto Sans";
   font-size: 1rem;
   font-weight: bold;
   color: #fff7d0;
   background-color: #47392f;
   border: 4px solid #7f6b56;
   margin-left: 10px;
   box-shadow: 0 0 0 4px #332822 inset;
   padding: 0 8px;
   cursor: pointer;
}

#taming-menu .skill-map-container {
   position: relative;
}

#taming-menu .skill {
   position: absolute;
   transform: translate(-50%, -50%);
   display: flex;
   flex-direction: column;
}

#taming-menu .skill .skill-icon-wrapper {
   display: inline-block;
   position: relative;
   margin-left: 50%;
   transform: translateX(-50%);
}
#taming-menu .skill .skill-icon {
   width: 52px;
   height: 52px;
   image-rendering: pixelated;
   position: absolute;
   top: 0;
   left: 0;
   transform: translate(8px, 8px);
}
#taming-menu .skill .skill-bg {
   width: 68px;
   height: 68px;
   image-rendering: pixelated;
}

#taming-menu .skill p {
   color: white;
   text-align: center;
   font-family: "Noto Sans";
   white-space: pre;
   background-color: #222;
   padding: 0 10px;
   margin: 0;
   letter-spacing: 0.6px;
}

#taming-menu .tier-separator-container {
   position: absolute;
   left: 0;
   right: 0;
}
#taming-menu .tier-icon {
   width: 28px;
   height: 28px;
   image-rendering: pixelated;
   position: absolute;
   left: 0;
   transform: translateY(-50%);
}
#taming-menu .tier-separator {
   width: 100%;
   height: 4px;
   background-image: url(../../images/menus/taming-almanac/tier-separator.png);
   background-size: 16px 4px;
   image-rendering: pixelated;
}

#taming-menu .skill-connector {
   width: var(--magnitude);
   height: 10px;
   background-color: #6e695b;
   position: absolute;
   left: calc(50% + var(--x));
   top: var(--y);
   transform-origin: 0% 50%;
   transform: rotate(var(--direction-rad));
   z-index: -1;
}