#tribe-plan-visualiser-canvas {
   z-index: 2;
}

#tribe-plan-visualiser {
   position: absolute;
   z-index: 3;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   cursor: grab;
}

#tribe-plan-visualiser .tribe-plan-node {
   position: absolute;
   background-color: #eee;
   transform: translate(-50%);
   padding: 6px;
   z-index: 1;
}
#tribe-plan-visualiser .tribe-plan-node.complete {
   background-color: #7ae66c;
}
#tribe-plan-visualiser .tribe-plan-node.assigned {
   background-color: #deab4e;
}
#tribe-plan-visualiser .tribe-plan-node :is(h3, p) {
   text-align: center;
   white-space: pre;
   margin: 0;
}

#tribe-plan-visualiser .node-connector {
   height: 10px;
   position: absolute;
   background-color: #aaa;
   transform-origin: 0% 50%;
   z-index: 0;
}

#tribe-plan-visualiser .dropdown {
   position: absolute;
   top: 20px;
   left: 20px;
}