#tribe-plan-visualiser-canvas {
   z-index: 2;
}

#tribe-plan-visualiser {
   position: absolute;
   z-index: 3;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
}

#tribe-plan-visualiser .tribe-plan-node {
   position: absolute;
   background-color: #ccc;
   transform: translateX(-50%);
   padding: 6px;
}
#tribe-plan-visualiser .tribe-plan-node :is(h3, p) {
   text-align: center;
   white-space: pre;
   margin: 0;
}